body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 100px;
}

.resume-container {
    display: flex;
    background-color: white;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left-section {
    background-color: #0cd1c4;
    color: black;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid #87d1e7;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #070606;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

.right-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #87d1e7;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .resume-container {
        flex-direction: column;
        width: 90%;
        padding: 20px;
    }

    .left-section {
        width: 100%;
        border-right: none;
        border-bottom: 5px solid #87d1e7;
        padding: 10px;
    }

    .right-section {
        width: 100%;
        padding: 10px;
    }

    .profile-picture {
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 20px;
    }

    .resume-container {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}
